%h1 Listing shirts

%table
  %thead
    %tr
      %th Description
      %th Primary color
      %th Image
      %th
      %th
      %th

  %tbody
    - @shirts.each do |shirt|
      %tr
        %td= shirt.description
        %td= shirt.primary_color
        %td= shirt.image
        %td= link_to 'Show', shirt
        %td= link_to 'Edit', edit_shirt_path(shirt)
        %td= link_to 'Destroy', shirt, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Shirt', new_shirt_path
